@import './variables.scss';

.vz-btn {
  align-items: center;
  border-radius: 0.3125rem;
  box-sizing: border-box;
  cursor: pointer;
  justify-content: center;
  min-height: 2.125rem;
  outline: none;
  text-align: center;
  transition: 0.25s ease;
  user-select: none;
  vertical-align: middle;
  width: fit-content;

  .icon {
    stroke: $main-purple;
    fill: $main-purple;
    color: $main-purple;

    &-gray {
      stroke: $gray-color;
      fill: $gray-color;
      color: $gray-color;

      ellipse {
        stroke: $gray-color;
        fill: $gray-color;
        color: $gray-color;
      }
    }
  }

  /* Changes stroke in svg icons */
  .icon-stroke-path {
    path, line, circle, rect, ellipse {
      stroke: $main-purple;
      fill: none;
    }

    &__gray {
      path, line, circle, rect, ellipse {
        stroke: $gray-color;
        fill: none;
      }
    }
  }

  .vz-btn-label {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.875rem;
    color: $dark-gray;
    font-weight: 500;
  }

  &:active, &:focus, &.vz-btn-selected {
    .icon-gray {
      stroke: $light-purple;
      fill: $light-purple;
      color: $light-purple;

      ellipse {
        stroke: $light-purple;
        fill: $light-purple;
      }
    }

    .icon-stroke-path__gray {
      path, line, circle, rect, ellipse {
        stroke: $light-purple;
        fill: none;
      }
    }
  }

  /* Button primary */
  &-primary {
    background: $background-purple;
    border: 0.0625rem solid $light-purple !important;
    box-sizing: border-box;

    .vz-btn-label {
      color: $dark-gray;
    }

    &:hover {
      border-color: $main-purple !important;
    }

    &:active, &:focus {
      outline: none;
      .vz-btn-label {
        color: $main-purple;
      }
    }

    &.vz-btn-selected {
      &, &:active, &:focus {
        border-color: $main-purple !important;
        .vz-btn-label {
          color: $main-purple;
        }
      }
    }

    &.vz-btn-disabled {
      cursor: default !important;

      &, &:hover {
        border-color: $border-gray !important;
        color: $light-gray-color;
      }

      .icon {
        stroke: $light-gray-color;
        fill: $light-gray-color;
      }

      .vz-btn-label {
        border-color: $border-gray !important;
        color: $light-gray-color;
      }

      &:focus, &:active {
        .vz-btn-label {
          color: $light-gray-color;
        }
      }

      .icon-stroke-path {
        path, line, circle, rect, ellipse {
          stroke: $light-purple;
          fill: none;
        }
      }
    }
  }

  /* Button secondary */
  &-secondary {
    background: $light-color;
    border: 0.0625rem solid $border-gray !important;
    box-sizing: border-box;

    .vz-btn-label {
      color: $dark-gray;
    }

    &:hover {
      border-color: $light-purple !important;
    }

    &:active, &:focus {
      border-color: $light-purple !important;
      outline: none;
      .vz-btn-label {
        color: $light-purple;
      }
    }
    &.vz-btn-selected {
      &,
      &:active,
      &:focus {
        border-color: $light-purple !important;
        .vz-btn-label {
          color: $light-purple;
        }
      }
    }
    &.vz-btn-disabled {
      cursor: default !important;

      &,
      &:hover {
        border-color: $border-gray !important;
        color: $light-gray-color;
      }
      .vz-btn-label {
        border-color: $border-gray !important;
        color: $light-gray-color;
      }
      &:focus,
      &:active {
        .vz-btn-label {
          color: $light-gray-color;
        }
      }

      .icon-stroke-path {
        path,
        line,
        circle,
        rect,
        ellipse {
          stroke: $light-purple;
          fill: none;
        }
      }
    }
  }

  /* Button terciary */
  &-terciary {
    box-sizing: border-box;
    .vz-btn-label {
      color: $main-purple;
      text-decoration: underline;
    }
    &:hover {
      .vz-btn-label {
        color: $dark-purple;
      }
    }
    &:active,
    &:focus {
      outline: none;
      .vz-btn-label {
        color: $dark-purple;
      }
    }
    &.vz-btn-selected {
      &,
      &:active,
      &:focus {
        .vz-btn-label {
          color: $dark-purple;
        }
      }
    }
    &.vz-btn-disabled {
      cursor: default !important;
      &,
      &:hover {
        color: $light-purple;
      }
      .vz-btn-label {
        color: $light-purple;
      }
      &:focus,
      &:active {
        .vz-btn-label {
          color: $light-purple;
        }
      }

      .icon-stroke-path {
        path,
        line,
        circle,
        rect,
        ellipse {
          stroke: $light-purple;
          fill: none;
        }
      }
    }
  }
}

/* dark theme */
.c-dark-theme {
  .vz-btn {
    .icon {
      stroke: $main-green;
      fill: $main-green;
      color: $main-green;
      &-gray {
        stroke: $gray-color;
        fill: $gray-color;
        color: $gray-color;
      }
    }

    .icon-stroke-path {
      path,
      line,
      circle,
      rect,
      ellipse {
        stroke: $main-green;
        fill: none;
      }
      &__gray {
        path,
        line,
        circle,
        rect,
        ellipse {
          stroke: $gray-color;
          fill: none;
        }
      }
    }

    .vz-btn-label {
      color: $light-gray-color;
    }

    &:active,
    &:focus,
    &.vz-btn-selected {
      .icon-gray {
        stroke: $main-green;
        fill: $main-green;
        color: $main-green;
        ellipse {
          stroke: $main-green;
          fill: $main-green;
        }
      }
      .icon-stroke-path__gray {
        path,
        line,
        circle,
        rect,
        ellipse {
          stroke: $main-green;
          fill: none;
        }
      }
    }

    /* Button primary */
    &-primary {
      background: $background-green;
      border-color: $dark-green !important;
      .vz-btn-label {
        color: $light-gray-color;
      }
      &:hover {
        border-color: $main-green !important;
      }
      &:active,
      &:focus {
        border-color: $main-green !important;
        .vz-btn-label {
          color: $main-green;
        }
      }
      &.vz-btn-selected {
        &,
        &:active,
        &:focus {
          border-color: $main-green !important;
          .vz-btn-label {
            color: $main-green;
          }
        }
      }
      &.vz-btn-disabled {
        &,
        &:hover {
          border-color: $dark-gray !important;
          color: $gray-color;
        }
        .vz-btn-label {
          border-color: $dark-gray !important;
          color: $gray-color;
        }
        &:focus,
        &:active {
          .vz-btn-label {
            color: $gray-color;
          }
        }

        .icon-stroke-path {
          path,
          line,
          circle,
          rect,
          ellipse {
            stroke: $light-green;
            fill: none;
          }
        }
      }
    }

    /* Button secondary */
    &-secondary {
      background: $dark-color;
      border-color: $dark-gray !important;
      .vz-btn-label {
        color: $light-gray-color;
      }
      &:hover {
        border-color: $dark-green !important;
      }
      &:active,
      &:focus {
        border-color: $dark-green !important;
        .vz-btn-label {
          color: $main-green;
        }
      }
      &.vz-btn-selected {
        &,
        &:active,
        &:focus {
          border-color: $dark-green !important;
          .vz-btn-label {
            color: $main-green;
          }
        }
      }
      &.vz-btn-disabled {
        &,
        &:hover {
          border-color: $dark-gray !important;
          color: $gray-color;
        }
        .vz-btn-label {
          border-color: $dark-gray !important;
          color: $gray-color;
        }
        &:focus,
        &:active {
          .vz-btn-label {
            color: $gray-color;
          }
        }

        .icon-stroke-path {
          path,
          line,
          circle,
          rect,
          ellipse {
            stroke: $light-green;
            fill: none;
          }
        }
      }
    }

    /* Button terciary */
    &-terciary {
      .vz-btn-label {
        color: $main-green;
        text-decoration: underline;
      }
      &:hover {
        color: $light-green;
      }
      &:active,
      &:focus {
        .vz-btn-label {
          color: $light-green;
        }
      }
      &.vz-btn-selected {
        &,
        &:active,
        &:focus {
          .vz-btn-label {
            color: $light-green;
          }
        }
      }
      &.vz-btn-disabled {
        &,
        &:hover {
          color: $dark-green;
        }
        .vz-btn-label {
          color: $dark-green;
        }
        &:focus,
        &:active {
          .vz-btn-label {
            color: $dark-green;
          }
        }

        .icon-stroke-path {
          path,
          line,
          circle,
          rect,
          ellipse {
            stroke: $light-green;
            fill: none;
          }
        }
      }
    }
  }
}
