@import './variables.scss';
@import './utils.scss';

.vz-collapse-wrapper {
  background-color: $pure-white;
  border: 0.0625rem solid $border-gray !important;
  padding: 0.5rem 1.188rem;

  .vz-collapse-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .collapse-arrow {
    width: 0.938rem;
    height: 0.563rem;
    stroke: $dark-color;
  }

  .vz-collapse-menu { background-color: $pure-white; }
}

/* Dark Theme */
.c-dark-theme {
  .vz-collapse-wrapper {
    border-color: $dark-gray !important;
    background-color: $pure-black;

    .collapse-arrow { stroke: $light-color; }

    .vz-collapse-menu {
      background-color: $pure-black;
    }
  }
}