@import './variables.scss';

.vz-dropdown {
  .dropdown-toggle {
    border-radius: 0.313rem;
    height: 2.125rem;
    padding: 0 0.5rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    box-shadow: none !important;

    .arrow-icon {
      stroke: $dark-gray !important;
      margin-top: 0.25rem;
      margin-left: 0.5rem;
    }

    &::before {
      box-shadow: none !important;
    }

    &::after {
      display: none;
    }

    &-primary {
      border: 0.063rem solid $light-purple !important;
      background-color: $background-purple !important;
      color: $dark-gray !important;

      &:hover {
        border-color: $main-purple !important;
      }

      &:active, &:focus {
        border-color: $main-purple !important;
        color: $main-purple !important;

        .arrow-icon {
          stroke: $main-purple !important;
        }
      }

      &-disabled {
        background-color: $background-purple !important;
        border-color: $border-gray !important;
        color: $light-gray-color !important;
        pointer-events: none;
      }
    }

    &-secondary {
      border: 0.063rem solid $border-gray !important;
      background-color: $light-color !important;
      color: $dark-gray !important;

      &:hover {
        background-color: $pure-white !important;
        border-color: $light-purple !important;
      }

      &:active, &:focus {
        background-color: $pure-white !important;
        border-color: $light-purple !important;
        color: $main-purple !important;
      }
      &-disabled {
        background-color: $light-color !important;
        border-color: $border-gray !important;
        color: $light-gray-color !important;
        pointer-events: none;
      }
    }
  }
  .dropdown-menu  {
    border-radius: 0.313rem;
    padding: 0.5rem;
    border-color: $border-gray !important;
    background-color: $light-color !important;
    box-shadow: $shadow-light-mode !important;
  }
}

/* Dark theme */
.c-dark-theme {
  .vz-dropdown {
    .dropdown-toggle {    
      .arrow-icon {
        stroke: $light-gray-color !important;
      }

      &-primary {
        border-color: $dark-green !important;
        background-color: $background-green !important;
        color: $light-gray-color !important;
  
        &:hover {
          border-color: $main-green !important;
        }
  
        &:active, &:focus {
          border-color: $main-green !important;
          color: $main-green !important;

          .arrow-icon {
            stroke: $main-green !important;
          }
        }

        &-disabled {
          background-color: $background-green !important;
          border-color: $dark-gray !important;
          color: $dark-gray !important;
          pointer-events: none;
        }
      }
  
      &-secondary {
        border-color: $dark-gray !important;
        background-color: $dark-color !important;
        color: $light-gray-color !important;
  
        &:hover {
          background-color: $pure-black !important;
          border-color: $dark-green !important;
        }
  
        &:active, &:focus {
          background-color: $pure-black !important;
          border-color: $dark-green !important;
          color: $main-green !important;
        }
        &-disabled {
          background-color: $dark-color !important;
          border-color: $dark-gray !important;
          color: $dark-gray !important;
          pointer-events: none;
        }
      }
    }

    .dropdown-menu  {
      border-color: $dark-gray !important;
      background-color: $pure-black !important;
      box-shadow: $shadow-dark-mode !important;
    }
  }
}