@import 'react-bootstrap-range-slider/dist/react-bootstrap-range-slider.css';
@import './variables.scss';

.v-range-wrapper {
  align-items: center;
  display: flex;

  .v-range-input {
    background-color: transparent;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
  
    &:focus, &:active { outline: none !important; }
  
    &::-webkit-slider-thumb {
      appearance: none;
      -webkit-appearance: none;
      background-color: $light-purple;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      margin-top: -0.406rem;
      cursor: grab;
      &:active { cursor: grabbing !important; }
    }
    
    &::-moz-range-thumb {
      appearance: none;
      -moz-appearance: none;
      background-color: $light-purple;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      margin-top: -0.406rem;
      cursor: grab;
      &:active { cursor: grabbing !important; }
    }
    
    &::-ms-thumb {
      appearance: none;
      background-color: $light-purple;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      margin-top: -0.406rem;
      cursor: grab;
      &:active { cursor: grabbing !important; }
    }
    
    &::-webkit-slider-runnable-track {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      background-color: rgba($color: $light-gray-color, $alpha: 0.4);
      border-radius: 0.67050625rem;
      height: 0.25rem;
    }
    
    &:focus::-webkit-slider-runnable-track {
      outline: none;
    }
    
    &::-moz-range-track {
      background-color: rgba($color: $light-gray-color, $alpha: 0.4);
      border-radius: 0.67050625rem;
      height: 0.25rem;
    }
    
    &::-ms-track {
      background-color: rgba($color: $light-gray-color, $alpha: 0.4);
      border-radius: 0.67050625rem;
      height: 0.25rem;
    }

    &:hover {
      &::-webkit-slider-thumb { background-color: $main-purple; }
      &::-moz-range-thumb  { background-color: $main-purple; }
      &::-ms-thumb { background-color: $main-purple; }
    }
  }

  .range-slider__wrap {
    width: 100%;
    margin-top: 0.325rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .range-slider__tooltip {
    z-index: 1 !important;

    .range-slider__tooltip__label {
      color:$light-purple;
      background-color: transparent;
      font-family: 'Montserrat', sans-serif;
      font-size: 0.8125rem;
      font-weight: 400;
    }

    .range-slider__tooltip__caret {
      display: none;
    }
  }

  .v-range-input:hover ~ .range-slider__tooltip {
    .range-slider__tooltip__label { color: $main-purple; }
  }

  .v-icon-input {
    color: $dark-gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.65625rem;
  }

  &-disabled {
    .v-range-input {
      &::-webkit-slider-thumb { cursor: default !important; }
      &::-moz-range-thumb { cursor: default !important; }
      &::-ms-thumb { cursor: default !important; }
    }
  }
}

/* Dark Mode */
.c-dark-theme {
  .v-range-wrapper {
    .v-range-input {
      &::-webkit-slider-thumb { background-color: $light-green; }
      &::-moz-range-thumb  { background-color: $light-green; }
      &::-ms-thumb { background-color: $light-green; }
      &::-webkit-slider-runnable-track { background-color:  $light-gray-color; }
      &::-moz-range-track { background-color:  $light-gray-color; }
      &::-ms-track { background-color:  $light-gray-color; }

      &:hover {
        &::-webkit-slider-thumb { background-color: $main-green; }
        &::-moz-range-thumb  { background-color: $main-green; }
        &::-ms-thumb { background-color: $main-green; }
      }
    }

    .range-slider__tooltip {
      .range-slider__tooltip__label { color: $light-green; }
    }

    .v-range-input:hover ~ .range-slider__tooltip {
      .range-slider__tooltip__label { color: $main-green; }
    }

    .v-icon-input { color: $light-gray-color; }
  }
}
