.vz-rotate {
  transform: rotateZ(180deg);
}

.vz-rotate-left {
  transform: rotateZ(90deg);
}

.vz-rotate-right {
  transform: rotateZ(-90deg);
}

.vz-rotate-45 {
  transform: rotateZ(45deg);
}

.rotate-anim {
  transform: rotateZ(180deg);
  transition: 0.25s ease;
}

.rotate-anim-0 {
  transform: rotateZ(0deg);
  transition: 0.25s ease;
}