@import '../../styles/variables.scss';

.vz-radio-button {
  .form-check-input {
    width: 1.25rem !important;
    height: 1.25rem !important;
    box-shadow: none !important;
    cursor: pointer !important;

    &:checked {
      background-color: transparent !important;
      border-color: $light-gray-color !important;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3.45' fill='rgb(122, 60, 222)'/%3e%3c/svg%3e") !important;
    }
  }
}

/* Dark Mode */
.c-dark-theme {
  .vz-radio-button {
    .form-check-input {
      &:checked {
        border-color: $light-gray-color !important;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3.45' fill='rgb(182, 219, 27)'/%3e%3c/svg%3e") !important;
      }
    }
  }
}